<div class="loginForm">
  <div class="container-fluid">
    <form #userForm="ngForm" class=""  method="post">
      <div class="form-group" *ngIf="!isLogin" [ngClass]="{'has-error':name.invalid && name.dirty}">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input class="form-control" type="text" required [(ngModel)]="UserInfo.name" #name="ngModel" name="name" placeholder="用户名" />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group" [ngClass]="{'has-error':email.invalid && email.dirty}">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input type="email" class="form-control" required [(ngModel)]="UserInfo.email" #email="ngModel" name="email"
            email
            placeholder="邮箱">
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error':password.invalid && password.dirty}">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input [minlength]="6" class="form-control" type="password" required [(ngModel)]="UserInfo.password" #password="ngModel"  name="password" placeholder="密码">
        </div>
        <div [hidden]="password.valid || password.pristine"><code>输入6位以上密码</code></div>
      </div>
      <div class="form-group" *ngIf="!isLogin" [ngClass]="{'has-error':repeat.invalid && repeat.dirty}">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input [minlength]="6" class="form-control" type="password" required [(ngModel)]="UserInfo.repeat" #repeat="ngModel" name="repeat" placeholder="重复密码">
        </div>
        <div [hidden]="UserInfo.repeat == UserInfo.password || repeat.pristine"><code>两次密码不一致</code></div>
      </div>
      <a class="btn btn-link pull-right" (click)="changeState()">{{isLogin?'立即注册':'返回登录'}}</a>
      <button class="btn btn-block btn-danger" (click)="login()" *ngIf="isLogin">登录</button>
      <button class="btn btn-block btn-primary" (click)="register()" *ngIf="!isLogin">注册</button>
    </form>
    <div style="position: relative;">
      <app-file-unpload></app-file-unpload>

    </div>
  </div>
</div>
<app-froala (froala)="froalaContent($event)"></app-froala>
