<div>
  <div class="btn-group btn-group-xs">
    <button type="button" class="btn btn-default" (click)="addImage()" *ngIf="currentStatus === STATUS_MENU">
      <fa name="plus-circle"></fa> 添加
    </button>
    <span dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()" class="btn btn-default">
      <span dropdownToggle (click)="false"><fa name="tag"></fa> {{choice?choice.tagName:"类型"}}</span>
        <ul *dropdownMenu class="dropdown-menu">
          <li *ngFor="let choice of imageTags" (click)="chose(choice)">
            <a class="dropdown-item">{{choice.tagName}}</a>
          </li>
        </ul>
    </span>
    <button type="button" (click)="view(template)" class="btn btn-default">
      <fa name="folder"></fa> 浏览
    </button>
  </div>
  <!--UPLOAD-->
  <form #f="ngForm" enctype="multipart/form-data" novalidate *ngIf="currentStatus === STATUS_INITIAL || currentStatus === STATUS_SAVING">
    <div class="dropbox">
      <input type="file" multiple [name]="uploadFieldName" (change)="filesChange($event.target.name, $event.target.files)" [disabled]="currentStatus === STATUS_SAVING" accept="image/*" #photos>
      <p *ngIf="currentStatus === STATUS_INITIAL">
        拖动图片\点击
      </p>
      <p *ngIf="currentStatus === STATUS_SAVING">
        上传 {{ photos.files.length }} 个文件…
      </p>
    </div>
  </form>

  <!--SUCCESS-->
  <div class="margin-20" *ngIf="currentStatus === STATUS_SUCCESS">
    成功上传{{ uploadedFiles.length }}个文件
    <p>
      <a href="javascript:void(0)" (click)="reset()">重新上传</a>
    </p>
    <ul class="list-unstyled">
      <li *ngFor="let item of uploadedFiles">
        <img [src]="item.url" class="img-responsive img-thumbnail" [alt]="item.filename">
      </li>
    </ul>
  </div>


  <!--FAILED-->
  <div class="margin-20" *ngIf="currentStatus === STATUS_FAILED">
    <h2>上传失败</h2>
    <p>
      <a href="javascript:void(0)" (click)="reset()">再试</a>
    </p>
    <pre>{{ uploadError | json }}</pre>
  </div>
</div>


<template #template class=" modal-sm">
  <div class="modal-header">
    <h4 class="modal-title pull-left">图片管理 <span>类型</span> </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngx-loading [show]="false" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
    <app-image-manager [images]="images"></app-image-manager>
  </div>
</template>
