<div class="container">
  <form  #postForm="ngForm" class=""  method="post">
    <div class="form-group" [ngClass]="{'has-error':title.invalid && title.dirty}">
      <label for="">标题</label>
      <input type="text" required class="form-control" [maxlength]="100" [(ngModel)]="Post.title" #title="ngModel" name="title" id="" placeholder="文章标题">
      <p class="help-block pull-right">0/100</p>
    </div>
    <div class="form-group" [ngClass]="{'has-error':description.invalid && description.dirty}">
      <label for="">摘要</label>
      <input required type="text" class="form-control" [maxlength]="100" [(ngModel)]="Post.description" #description="ngModel" name="description" id="" placeholder="简短描述">
      <p class="help-block pull-right">0/100</p>
    </div>
    <div class="form-group">
      <label for="">类型</label>
      <!-- <input type="text" class="form-control"> -->
      <select class="form-control" [(ngModel)]="Post.typeCode" #typeCode="ngModel" name="typeCode" id="" placeholder="类型">
        <option value="01">游戏</option>
        <option value="02">知识</option>
        <option value="03">生活</option>
        <option value="04">科技</option>
        <option value="05">娱乐</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">标签</label>
      <input type="text" class="form-control" [(ngModel)]="Post.tags" #tags="ngModel" name="tags" id=""  placeholder="标签">
    </div>
    <div class="form-group">
      <label for="">内容</label>
      <app-froala (froala)="froalaContent($event)"></app-froala>
    </div>
    <div class="form-group">
      <label for="">预览图(600px*400px)</label>
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="javascript:void(0)" class="thumbnail">
                <app-image-uploader (manage)="setCover($event)"></app-image-uploader>
            </a>
          </div>
      </div>
    </div>
    <a routerLink="/post/list" type="button" class="btn btn-default">
      取消
    </a>
    <button (click)="submitPost()" type="button" class="btn btn-primary">
      提交
    </button>
  </form>
</div>
