<div class="container">
  <h1>{{title}}</h1>
  <h2>{{hero.name}} details!</h2>
  <div class="alert alert-success"><b>id: </b>{{hero.id}}</div>
  <div class="well well-sm">
    name:<input class="form-control" [(ngModel)]="hero.name" placeholder="name">
  </div>
  <div *ngIf="selectedHero">
    <h2>{{selectedHero.name}} details!</h2>
    <div class="alert alert-success"><b>id: </b>{{selectedHero.id}}</div>
    <div class="form-group">
      <label for="">name:</label>
      <input class="form-control" [(ngModel)]="selectedHero.name" placeholder="name" />
    </div>
  </div>

  <h2>My Heroes</h2>

  <ul class="heroes">
    <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
  </ul>
</div>
