<!--UPLOAD-->
<input type="file" name="files" accept="image/*" #photo />
<input class="btn btn-primary" (click)="upload(photo.name, photo.files)" type="submit" value="提交">


<!-- page-file-upload.component.html -->

<div>
  <!--UPLOAD-->
  <form  #f="ngForm" enctype="multipart/form-data" novalidate *ngIf="currentStatus === STATUS_INITIAL || currentStatus === STATUS_SAVING">
    <h1>Upload images</h1>
    <div class="dropbox">
      <input type="file" multiple [name]="uploadFieldName" (change)="filesChange($event.target.name, $event.target.files)" [disabled]="currentStatus === STATUS_SAVING" accept="image/*" #photos>
      <p *ngIf="currentStatus === STATUS_INITIAL">
        Drag your file(s) here to begin<br>
        or click to browse
      </p>
      <p *ngIf="currentStatus === STATUS_SAVING">
        Uploading {{ photos.files.length }} files...
      </p>
    </div>
  </form>
</div>
