<div class="container" *ngIf="post">
  <h2>{{post.title}}</h2>
  <hr>
  <div class="post-toolbar">
    <span>{{post.createDate |  date:"y-MM-dd"}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span><fa name="eye"></fa>{{post.pageviews}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span><fa name="thumbs-o-up"></fa>{{post.likes}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span>{{post.authorName}}</span>
  </div>
  <blockquote>
    {{post.description}}
  </blockquote>
  <div class="" [innerHtml]="post.content">
  </div>
</div>
