<div class="container">
  <nav class="navbar navbar-default">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="搜索">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
      <div class="navbar-form navbar-right">
        <button routerLink="/post/new" type="button" class="btn btn-default" routerLinkActive="btn-primary">
          <fa name="plus-circle"></fa> 新增
        </button>
      </div>
  </nav>

  <alert type="info">
    <strong>内容列表</strong> {{page}}/{{count}}
  </alert>
  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let post of postList">
      <div class="thumbnail">
        <img src="{{post.cover}}" alt="...">
        <div class="caption">
          <h3>{{post.title}}</h3>
          <p>{{post.description}}</p>
          <p><a href="#" class="btn btn-primary" role="button">view</a></p>
        </div>
      </div>
    </div>
  </div>


  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
